.containerHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 5rem;
    border-bottom: 1px solid #9b9292;
    background: #fff;
}

.darkContainer {
    background: #2B3743;
    color: #fff;
}

.title {
    font-weight: bold;
}

.switchTheme {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

@media (max-width: 768px) {
    .containerHeader {
       padding: 1.5rem 2.5rem;
    }
}